extends ../templates/page_column.jade

block column_content
    #leftmost_column.column
        .container-fluid
            br
            .row
                input.center-horizontal#username(placeholder="username", type="text")
            .row
                input.center-horizontal#password(placeholder="password", type="password")
            .row
                button.center-horizontal#log_in.btn.btn-info
                    | log in
                    
